
/*taken from https://kaisernet.neocities.org/ */
/*adapted by Luiz Antônio Rangel */
/*
Copyright 2020 Luiz Antônio Rangel

Permission to use, copy, modify, and/or distribute this software for any purpose with or without fee is hereby granted, provided that the above copyright notice and this permission notice appear in all copies.

THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.*/

/* Declaring fonts first */ 
@font-face {
    font-family: 'IBM Plex Sans Text';
    src: url('./source_files/fonts/ibmplexsans-text-webfont.woff2') format('woff2'),
         url('ibmplexsans-text-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'IBM Plex Sans Condensed Text';
    src: url('ibmplexsanscondensed-text-webfont.woff2') format('woff2'),
         url('ibmplexsanscondensed-text-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'IBM Plex Sans Condensed Regular';
    src: url('ibmplexsanscondensed-regular-webfont.woff2') format('woff2'),
         url('ibmplexsanscondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'IBM Plex Mono Regular';
    src: url('ibmplexmono-regular-webfont.woff2') format('woff2'),
         url('ibmplexmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'IBM Plex Mono Text';
    src: url('ibmplexmono-text-webfont.woff2') format('woff2'),
         url('ibmplexmono-text-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'IBM Plex Mono Bold';
    src: url('ibmplexmono-bold-webfont.woff2') format('woff2'),
         url('ibmplexmono-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



body {
  background: #FFFFFF url('/black_pix.jpeg');
  color: #222222;
  font-family: 'IBM Plex Sans Text';
  font-size: 84%;  /* Enables font size scaling in MSIE */
  margin: 0;
  padding: 0;
}
/* # Header # */
.superHeader {
  color: #000000;
  background-color: #000000;
  height: 1.6em;
}

.superHeader img {
  vertical-align: bottom;
}

.superHeader a {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
  font-size: 91%;
  margin: 0;
  padding: 0 0.5ex 0 0.25ex;
}
.superHeader a:hover {
  text-decoration: none;
  color: red;
  background-color: transparent;
}

.superHeader div {
  position: absolute;
  top: 0.40ex;
}

.superHeader .left { left: 0.4em; }
.superHeader .right { right: 0.4em; }

.midHeader {
  background-color: #1A3060;
  border: solid 0 #1A3060;
  border-width: 2px 0;
}

.headerTitle {
  color: yellow;
  font-family: 'IBM Plex Sans', helvetica, arial, sans-serif;
  font-size: 233%;
  font-weight: normal;
  margin: 0 0 0 4mm;
  padding: 0.25ex 0;
}
#headerSubTitle {
  font-size: 50%;
  font-style: italic;
  margin-left: 1em;
}

.headerTitle a {
  color: white;
  text-decoration: none;
}
.headerTitle a:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.subHeader {
  display: none;
  color: black;
  background-color: #D0C090;
  margin: 0;
  padding: 1ex 1ex 1ex 1.5mm;
}

.subHeader a {
  color: blue;
  background-color: #E8D8A8;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  padding: 0 0.75ex 0 0.5ex;
}  
.subHeader a:hover {
  color: purple;
  background-color: #D0C090;
  text-decoration: none;
}

.superHeader .highlight, .subHeader .highlight {
  color: yellow;
  background-color: transparent;
}


/* # Side # */
#side-bar {
  width: 16em;
  float: left;
  clear: left;
  border-right: 1px gray;
}

#side-bar div {
  border-bottom: 1px blue;
}

.sideBarTitle {
  color: black;
  font-weight: bold;
  margin: 0 0 0.5em 2mm;
  padding: 1em 0 0 0;
}

#side-bar ul {
  color: black;
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
  padding: 0 0 0.3em 0;
}

li ul {
 color: white; 
 padding-left: 1.0em;
}

#side-bar li {
  margin: 0;
  padding: 0.1ex 0;  /* Circumvents a rendering bug (?) in MSIE 6.0  XXX should move to iehacks.css, this causes an ugly gap */
}

#side-bar a {
  color: #39346E;
  background-color: transparent;
  text-decoration: none;
  text-transform: none;
  margin: 0;
  padding: 0.35em 1ex 0.35em 2mm;
  display: block;
  font-weight: bold;
  font-size: 105%;
  border-left: black solid 0.2em;
}

.thisPage, .thisPage a {
  color: black;
  background-color: gray;
  padding-left: 5mm;
}

#side-bar a:hover {
  color: white;
  background-color: #6566A0;
  border-left: black solid 0.2em;
  text-decoration: none;
}

.sideBarText {
  line-height: 1.5em;
  margin: 0 0 1em 0;
  padding: 0 1.5ex 0 2.5mm;
  display: block;
}

#side-bar .sideBarText a {
  margin: 0;
  padding: 0;
  display: inline;
}

#side-bar .sideBarText a:hover {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}

.lighterBackground {
  color: inherit;
  background-color: gray;
}


/* # Main Copy # */
#main-copy {
  max-width: 70em;
  color: black;
  background-color: transparent;
  text-align: justify;
  word-wrap: break-word;
  line-height: 1.5em;
  margin: 0em 0 0 16em;
  padding: 0.5mm 5mm 5mm 5mm;
  border-left: 2px solid #1A3060;
}

#bodyText {
  margin: 0 0 0 15.5em;
  padding: 2mm 5mm 2mm 5mm;
}

#main-copy p {
  margin: 1em 1ex 1em 1ex !important; /* Need !important so troff-generated pages don't look totally squezed */
  padding: 0;
  color: black;
}

#main-copy a id {
  color: yellow;
  background-color: transparent;
  font-weight: bold;
  text-decoration: none;
}

#main-copy a {
  color: #39346E;
  background-color: transparent;
  font-weight: bold;
  text-decoration: none;
}

#main-copy a:hover {
  text-decoration: none;
  color: purple;
  background-color: transparent;
}

#main-copy h1 {
/*color: #F0E67C;*/
  color: #3B3C3D;
  background-color: transparent;
  font-size: 145.5%;
  font-weight: bold;
  margin: 2em 0 0 0;
  padding: 0.5ex 0 0.5ex 0.6ex;
  border-bottom: 1px solid #39346E;
}

#main-copy h2 {
  color: #3B3C3D;
/*color: yellow;*/
  background-color: transparent;
  font-size: 125.5%;
  font-weight: bold;
  margin: 2em 0 0 0;
  padding: 0.5ex 0 0.5ex 0.6ex;
}

#main-copy h3 {
/*  color: lightyellow; */
  color: black;
  background-color: transparent;
  font-size: 115.5%;
  font-weight: bold;
}

#main-copy h4 {
/*  color: lightyellow; */
  color: black;
  background-color: transparent;
  font-size: 95%;
  font-weight: medium;
  /*margin: 2em 0 0 0;*/
  /*border-bottom: 1px solid #222222;*/
}

#main-copy h5 {
  color: #400000;
  background-color: transparent;
  font-size: 85%;
  font-weight: bold;
  margin: 2em 0 0 0;
}

#main-copy marquee {
       color: red;
       font-weight: bold;
       font-style: italic;
}

#main-copy .topOfPage {
  color: black;
  background-color: transparent;
  font-size: 91%;
  font-weight: bold;
  text-decoration: none;
  margin: 3ex 1ex 0 0;
  padding: 0;
  float: right;
}

dl {
  margin: 1em 1ex 2em 1ex;
  padding: 0;
}

dt {
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 0;
}

dd {
  margin: 0 0 2em 2em;
  padding: 0;
}


/* # Footer # */
#footer {
  color: #400000;
  background: transparent;
  font-size: 90%;
  margin: 0;
  padding: 1em 2.5mm .35em 2.5mm;
  clear: both;
  border: solid 0 transparent;
  border-width: 2px 0 0 0;
}

#footer .left {
  text-align: left;
  line-height: 1.45em;
  float: left;
  clear: left;
}

#footer .right {
  text-align: right;
  line-height: 1.45em;
}

#footer a {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: none;
  color: purple;
  background-color: transparent;
}


/* GENERAL */

pre {
  margin-left: 2em; 
  font-size: 1.2em;
}

.smallCaps {
  font-size: 110%;
  font-variant: small-caps;
}

.doNotDisplay { display: none; }


.notify_errors,
.notify_notes,
.notify_success { padding: .8em; margin-bottom: 1em; border: 2px solid black; }
 
.notify_errors { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.notify_notes { background: #FFF6BF; color: #514721; border-color: #FFD324; }
.notify_success { background: #E6EFC2; color: #264409; border-color: #C6D880; }
.notify_errors a { color: #8a1f11; }
.notify_notes a { color: #514721; }
.notify_success a { color: #264409; }
